h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI",Arial,sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin: 10px 0;
}
h4 {
    font-size: 20px;
}
.cl-title {
	color: #fff!important;
    background-color: rgb(242, 84, 26)!important;
    padding: 10px;
    text-align: center;
}
img{
	width:100%;
}
.cl-card-2{
	margin:8px;
	border: 1px solid rgb(242, 84, 26);
}
div.cl-third{
	width:32%;
	height:auto;
	float:left;
	margin:0.5%;
	text-align: center;
	border: 1px solid rgb(242, 84, 26);
}